.App {
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
}

button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: indianred;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
  font-weight: 700;
  font-size: 1.2rem;
}

.button-next {
  background-color: green;
}

.button-next:hover {
  background-color: #024402;
}

button:hover {
  background-color: #802f2f;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mt-32 {
  margin-top: 2rem;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.hidden {
  display: none !important;
}

.d-flex {
  display: flex;
}

h1 {
  margin-top: 0;
}

.content {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 22px;
}

.options {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-left: 0;
  padding: 0;
}

.options button {
  border-radius: 0;
  border: 3px solid;
  width: 100%;
  padding: 1rem 0.5rem;
}

.options li {
  /* margin: 0 1rem; */
  cursor: pointer;
  width: 100%;
  display: none;
}

.options [data-key] {
  display: block;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: #333333;
  padding: 0.5rem 1rem;
}

.footer a {
  color: white;
}

@media (max-width: 500px) {
  /* .options {
    flex-direction: column;
  }
  .options li {
    margin: 0 0 1rem;
  }
  .options li:last-of-type {
    margin-bottom: 0;
  }
  .options button {
    width: 100%;
  } */
  .options li {
    margin: 0;
    width: 100%;
  }
  .options button,
  .button-next {
    border-radius: 0;
    border: 3px solid;
    font-size: 1rem;
    width: 100%;
    padding: 1rem 0.5rem;
  }
  .App {
    height: 100vh;
  }
  .animal-item {
    height: 60vh;
  }
  .animal-item img {
    max-width: 100%;
    height: auto;
    max-height: 60vh;
    margin: 0 auto;
    display: block;
  }
}
